name: TRIGGERS B FROM A

on:
  workflow_dispatch:
  push:

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Workflow B
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT_TOKEN }}" \
            -H "Content-Type: application/json" \
            https://api.github.com/repos/${{ github.repository }}/dispatches \
            -d '{"event_type":"trigger-file-b"}'

      - name: Debug dispatch
        run: echo "Dispatched workflow B"
