name: Build_SONAR_MAIN

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Verify Java Version
        run: |
          echo "Java Version:"
          java -version
          echo "JAVA_HOME:"
          echo $JAVA_HOME

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_SCANNER_OPTS: "-Djava.home=/usr/lib/jvm/temurin-17-amd64"
        with:
          args: >
            -Dsonar.projectKey=Manjunath-Kapanaiah_nodejs-sonar-app
            -Dsonar.organization=manjunath-kapanaiah
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.sources=.
