---
name: MATRIX BUILS NODEJS WITH SONAR
on:
  workflow_dispatch:
  push: null
jobs:
  job1:
    continue-on-error: true
    strategy:
      matrix:
        node-version:
          - 12
          - 16
          - 18
        operating-system:
          - ubuntu-latest
          - windows-latest
        exclude:
          - node-version: 12
            operating-system: ubuntu-latest
          - node-version: 12
            operating-system: windows-latest
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
      - name: Install nodejs
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Executes test cases
        run: npm test
      - name: Build the code
        run: npm run build
      - name: Deploy the code
        run: echo 'Deploy the code'
job2:
  needs: job1
  runs-on: ubuntu-latest
  uploadfile:
    runs-on: ubuntu-latest
    steps:
      - name: create a directory
        run: |
          mkdir myfiles
          pwd
      - name: create a file in directory
        run: echo "hello All" > myfiles/file1
      - name: upload the file to github
        uses: actions/upload-artifact@v4
        with:
          name: my-file
          path: myfiles/file1
  downloadfile:
    runs-on: ubuntu-latest
    needs: uploadfile
    steps:
      - name: download the artifact from previous job to this job
        uses: actions/download-artifact@v4
        with:
          name: my-file
      - name: check if the file is on runner or not
        run: ls -ltr
