name: Build and SonarScan

on:
  workflow_dispatch:  # This enables the "Run workflow" button
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 2. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # 3. Install dependencies
      - name: Install dependencies
        run: npm install

      # 4. Build the project
      - name: Build project
        run: npm run build

      # 5. Run SonarCloud analysis
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=Manjunath-Kapanaiah_REMOTE
            -Dsonar.organization=manjunath-kapanaiah
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.sources=src
