---
name: SELF_HOSTED & GITHUB RUNNERS WITH UPLOAD/DOWNLOAD
on:
  workflow_dispatch: null
  push: null
jobs:
  SELF_HOSTED:
    continue-on-error: true
    runs-on: self-hosted
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
      - name: Install nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
  GITHUB_HOSTED:
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
      - name: Install nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
  UPLOAD:
    runs-on: ubuntu-latest
    needs: GITHUB_HOSTED
    steps:
      - name: create a directory
        run: |
          mkdir myfiles
          pwd
      - name: create a file in directory
        run: echo "hello All" > myfiles/file1
      - name: upload the file to github
        uses: actions/upload-artifact@v4
        with:
          name: my-file
          path: myfiles/file1
  DOWNLOAD:
    runs-on: ubuntu-latest
    needs: UPLOAD
    steps:
      - name: download the artifact from previous job to this job
        uses: actions/download-artifact@v4
        with:
          name: my-file
      - name: check if the file is on runner or not
        run: ls -ltr
